/* 초기화 및 기본 세팅 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url(../a11y.css);

body,
body * {
  box-sizing: border-box;
  font-family: "Pretendard";
  line-height: 21px;
}

section,
h2,
span,
ol,
li,
a {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.webContainer {
  background: linear-gradient(180deg, #cccccc 0%, #eeeeee 100%);
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  width: 190px;
  height: 147px;
  padding: 12px;
  position: relative;
}

.title {
  font-size: 15px;
}

.orange {
  color: #ed552f;
}

.more {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 14px;
}

.webRank__item {
  margin-top: 8px;
  counter-increment: number;
  font-size: 11px;
  line-height: 150%;
}

.webRank__item::before {
  display: inline-block;
  content: counter(number);
  margin-right: 4px;
  background: #a3a3a3;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.sprite {
  background-color: aqua;
  background: url(./assets/rank.png) no-repeat;
}

.spriteUp {
  background-position: 150px 3px;
}

.spriteStay {
  background-position: 150px -19px;
}

.spriteDown {
  background-position: 150px -42px;
}

.updown {
  margin-left: 10px;
  background-color: pink;
}
